@media  (max-width: 992px) {
  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 250px;
    padding: 50px;
    width: 80%;
    z-index: 1000;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 20px;
  }

  .services-list {
    flex-wrap: wrap;
  }

  .services-item {
    margin-bottom: var(--gap);
    width: calc((100% - var(--gap)) / 2);
  }

  .services-item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services-item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .blog-preview {
    height: 100%;
  }

  .clients-item {
    padding: 25px;
  }

  .form {
    padding: 0;
  }

  .form-input {
    width: 100%;
  }

  .form-select {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: var(--gap);
  }

  .header__btn {
    padding: 12px 35px;
    margin-right: 7px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #3172b9;
    border-radius: 3px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #3172b9;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .burger__line:first-child {
    top: 13px;
  }

  .burger__line:last-child {
    bottom: 13px;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    transform-origin: center;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    top: 50%;
    left: 25%;
    transform: rotate(-45deg);
    transform-origin: center;
  }

  .section-offset {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .hero__content {
    width: 75%;
  }

  .blog-preview-link {
    flex-direction: column;
  }

  .clients-list {
    flex-wrap: wrap;
  }

  .clients-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap) * 1)) / 2);
  }

  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 19px;
  }
}

@media (max-width: 576px) {
  :root {
    --gap: 15px;
  }

  .header {
    padding: 14px 0;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding: 12px 21px;
  }

  .hero__content {
    width: 100%;
  }

  .hero {
    padding-top: 31px;
    padding-bottom: 0;
    background-image: none;
  }

  .hero__title {
    margin-bottom: 16px;
  }

  .hero__descr {
    margin-bottom: 15px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    min-width: 100%;
  }

  .services-title {
    text-align: left;
  }

  .section-title {
    margin-bottom: 17px;
  }

  .section-descr {
    margin-bottom: 36px;
    line-height: 22px;
  }

  .services-item-icon {
    margin-bottom: 15px;
    width: 42px;
    height: 42px;
  }

  .services-item {
    margin-bottom: 20px;
    min-height: 222px;
    padding: 20px;
  }

  .services-item-title {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 130%;
  }

  .services-item-descr {
    font-size: 12px;
    line-height: 150%;
  }

  .services-list {
    margin-bottom: -20px;
  }

  .articles-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles-item {
    width: 100%;
  }

  .blog-preview-link {
    align-items: center;
    flex-direction: row;
  }

  .articles-title {
    margin-bottom: 13px;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview-image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview-title {
    margin-bottom: 2px;
  }

  .blog-preview-text {
    padding: 0 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .articles-list {
    margin-bottom: -15px;
  }

  .clients-item {
    padding: 19px;
    width: 100%;
  }

  .clients-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .clients-list {
    margin-bottom: calc(-1 * var(--gap));
  }

  .contacts-item {
    padding-top: 39px;
    width: 100%;
  }

  .contacts-list {
    flex-wrap: wrap;
  }

  .contacts-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .contacts-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .contacts-title {
    margin-bottom: 13px;
  }

  .contacts-item-caption {
    margin-bottom: 10px;
  }

  .join-us-title {
    margin-bottom: 13px;
    text-align: left;
  }

  .join-us-descr {
    text-align: left;
  }

  .form {
    flex-wrap: wrap;
  }

  .form-top {
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
  }

  .form-left {
    width: 100%;
    margin-bottom: 16px;
  }

  .form-right {
    width: 100%;
  }

  .form-input {
    margin-bottom: 16px;
    padding-left: 19px;
  }

  .form-select {
    padding-left: 19px;
    padding-right: 19px;
  }

  .form-textarea {
    padding: 15px 19px;
    min-height: 235px;
  }

  .form-bottom {
    justify-content: center;
  }

  .form-wrapper {
    width: 100%;
  }

  .form-btn {
    margin-bottom: 14px;
    width: 100%;
  }

  .footer {
    padding: 0;
    padding-top: 30px;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    flex-wrap: wrap;
  }

  .footer__nav .nav__list {
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-right {
    margin-bottom: 27px;
  }

  .footer-left {
    margin-bottom: 0;
  }

  .footer__nav {
    margin-right: 0;
    margin-bottom: 11px;
  }

  .footer__nav .nav__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .footer__nav .nav__item {
    margin-bottom: 15px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 32px;
  }

  .social-item:not(:last-child) {
    margin-right: 26px;
  }

  .footer-logo {
    margin-bottom: 27px;
    margin-right: 0;
    width: 80px;
  }

  .footer-copy {
    padding: 16px 0;
    margin-left: -15px;
    border-top: 1px solid #c4c4c4;
    display: block;
    flex-shrink: 0;
    width: calc(100% + 30px);
    text-align: center;
  }
}
