html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "font", sans-serif;
}

/* GLOB */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* HEADER */

.header {
  padding: 36px 0;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

/* HERO */

.hero {
  padding: 100px 0;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
}

.hero-btn {
  margin-bottom: 14px;
}

/* SERVICES */

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 270px;
  outline: 1px solid green;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
}

.services-item-descr {
  margin: 0;
  text-align: center;
}

/* RTICLES */

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
  outline: 1px solid coral;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
}

.blog-preview-descr {
  margin: 0;
}

/* CLIENTS */

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  outline: 1px solid coral;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
}

.clients-user {
  margin-top: auto;
  align-items: center;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-name {
  margin-bottom: 5px;
}

/* CONTACTS */

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  outline: 1px solid coral;
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
}

.contacts-item-text {
  margin: 0;
}

.contacts-item-link:not(:last-child) {
  margin-bottom: 5px;
}

/* FOOTER */

.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}
